<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
	  <%- include('partials/head'); %>
  </head>

  <body class="bg-secondary container-fluid">
    <header class="content-wrapper">
      <%- include('partials/nav'); %>
    </header>

    <div class="container-fluid">
      <h1 class="mb-3 font-weight-bold text-warning mt-5">About</h1>
      <div class="row">
        <div class="col-md-2 mb-5">
          <div class="card text-light bg-dark">
            <div class="card-header text-info font-weight-bold">
              Author
            </div>        
            <img class="card-img-top" src="/img/portrait_winter_2020.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-warning">Riley Martinez</p>
              <ul>
                <li><a href="https://github.com/RileyMartinez">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/rileymartinez/">LinkedIn</a></li>
                <li><a href="mailto: riley.m.martinez@gmail.com">Email</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-10 mb-5">
          <div class="card text-white bg-dark">
            <div class="card-header text-info font-weight-bold">
              Introduction
            </div>        
            <div class="card-body text-light">
              <h5 class="card-title text-warning">Welcome to the "About" page for my SEIS 751 Final Project!</h5>
              <p class="card-text">Below you will find a project walkthrough highlighting key concepts throughout the web app, as well as 
                the Content Map and Wireframe development artifacts, which aided in the website design/development process.
                Credits are at the bottom of the page.
              </p>
              <p class="card-text">The main feature of the app is the Work page, where you'll find a Magic the Gathering life counter
                to use when dueling your friends. Register on the app and you can keep track of your personal win/loss record!
              </p>
              <a href="/Work" class="btn btn-warning">Check it out</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="card bg-dark" id="walkthrough">
            <div class="card-header text-info font-weight-bold">
              Walkthrough
            </div>        
            <div class="card-body text-light card-columns column-count-2">
              <ol>
                <li><a href="#walkthrough">Walkthrough</a></li>
                <li><a href="#contentmap">Content Map</a></li>
                <li><a href="#wireframe1">Wireframe</a></li>
                <li><a href="#credits">Credits</a></li>
                <li>Header Navigation Top Level Sections: Home, About, Work, & Contact*</li>
                <li>Favicon*</li>
                <li>CSS Icons or Sprites*</li>
                <li>SVG Element - Magic wand next to web page title*</li>
                <li><a href="/#videoelement">Video Element</a></li>
                <li><a href="/work#audioelement">Audio Element</a></li>
                <li><a href="/">Carousel</a></li>
                <li>Web Font*</li>
                <li><a href="/users/login#canvaselement">Canvas Element</a> - Card next to form on Login/Register pages</li>
                <li><a href="/users/register">HTML5 Form Input Validation</a> - Login/Register/Contact pages</li>
                <li><a href="/contact">JSON Data Interchange</a> - Feedback written to feedbackData.json on submit</li>
                <li>Footer Navigation*</li>
                <li><a href="/work">Server-side Persistent Storage</a> - User session data and personal win/loss record (must sign in)</li>
                <li><a href="/users/login">Authentication</a> - Login/Register pages</li>
                <li><a href="/contact/feedback">Authorization</a> - View Feedback page signed in as Admin (User: admin Password: admin)</li>
                <li><a href="/users/register">Sessions</a> - Register an account and login to start a personal session</li>
              </ol>
              <p>* Found on all pages</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="card text-white bg-dark" id="contentmap">
            <div class="card-header text-info font-weight-bold">
              Content Map
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Content Map" src="/img/content_map.png" class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card text-info bg-dark" id="wireframe1">
            <div class="card-header font-weight-bold">
              Wireframe - Home Page
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Wireframe Home Page" src="/img/1-Home.png" class="img-thumbnail">
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card text-info bg-dark" id="wireframe2">
              <div class="card-header font-weight-bold">
                Wireframe - Work Page
              </div>        
              <div class="card-body text-light text-center">
                <img alt="Wireframe Work Page" src="/img/2-Work.png" class="img-thumbnail">
              </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card text-info bg-dark" id="wireframe3">
            <div class="card-header font-weight-bold">
              Wireframe - About Page
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Wireframe About Page" src="/img/3-About.png" class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card text-info bg-dark" id="wireframe4">
            <div class="card-header font-weight-bold">
              Wireframe - Contact Page
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Wireframe Contact Page" src="/img/4-Contact.png" class="img-thumbnail">
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card text-info bg-dark" id="wireframe5">
            <div class="card-header font-weight-bold">
              Wireframe - Login Page
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Wireframe Login Page" src="/img/5-Login.png" class="img-thumbnail">
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card text-info bg-dark" id="wireframe6">
            <div class="card-header font-weight-bold">
              Wireframe - Register Page
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Wireframe Register Page" src="/img/6-Register.png" class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 mb-5">
          <div class="card text-info bg-dark" id="wireframe7">
            <div class="card-header font-weight-bold">
              Wireframe - Feedback Page
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Wireframe Feedback Page" src="/img/7-Feedback.png" class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>

   <!-- Footer -->
   <%- include('partials/footer'); %>

  </body>
</html>
