<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
	  <%- include('partials/head'); %>
  </head>

  <body class="bg-secondary container-fluid">
    <header class="content-wrapper">
      <%- include('partials/nav'); %>
    </header>

    <div class="container-fluid">
      <h1 class="mb-3 font-weight-bold text-warning mt-5">About</h1>
      <div class="row">
        <div class="col-md-2 mb-5">
          <div class="card text-light bg-dark">
            <div class="card-header text-info font-weight-bold">
              Author
            </div>        
            <img class="card-img-top" src="/img/portrait_winter_2020.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-warning">Riley Martinez</p>
              <ul>
                <li><a href="https://github.com/RileyMartinez">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/rileymartinez/">LinkedIn</a></li>
                <li><a href="mailto: riley.m.martinez@gmail.com">Email</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-10 mb-5">
          <div class="card text-white bg-dark">
            <div class="card-header text-info font-weight-bold">
              Introduction
            </div>        
            <div class="card-body text-light">
              <h5 class="card-title text-warning">Welcome to the "About" page for my SEIS 751 Final Project!</h5>
              <p class="card-text">Below you will find a project walkthrough highlighting key concepts throughout the web app, as well as 
                the Content Map and Wireframe development artifacts, which aided in the website design/development process.
                Credits are at the bottom of the page.
              </p>
              <p class="card-text">The main feature of the app is the Work page, where you'll find a Magic the Gathering life counter
                to use when dueling your friends. Register on the app and you can keep track of your personal win/loss record!
              </p>
              <a href="/Work" class="btn btn-warning">Check it out</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="card bg-dark" id="walkthrough">
            <div class="card-header text-info font-weight-bold">
              Walkthrough
            </div>        
            <div class="card-body text-light card-columns column-count-2">
              <ol>
                <li><a href="#walkthrough">Walkthrough</a></li>
                <li><a href="#contentmap">Content Map</a></li>
                <li><a href="#wireframe1">Wireframe</a></li>
                <li><a href="#credits">Credits</a></li>
                <li>Header Navigation Top Level Sections: Home, About, Work, & Contact*</li>
                <li>Favicon*</li>
                <li>CSS Icons or Sprites*</li>
                <li>SVG Element - Magic wand next to web page title*</li>
                <li><a href="/#videoelement">Video Element</a></li>
                <li><a href="/work#audioelement">Audio Element</a></li>
                <li><a href="/">Carousel</a></li>
                <li>Web Font*</li>
                <li><a href="/users/login#canvaselement">Canvas Element</a> - Card next to form on Login/Register pages</li>
                <li><a href="/users/register">HTML5 Form Input Validation</a> - Login/Register/Contact pages</li>
                <li><a href="/contact">JSON Data Interchange</a> - Feedback page info dynamically updated on submit (must be signed in as Admin to view feedback)</li>
                <li>Footer Navigation*</li>
                <li><a href="/work">Server-side Persistent Storage</a> - User session data and personal win/loss record (must sign in)</li>
                <li><a href="/users/login">Authentication</a> - Login/Register pages</li>
                <li><a href="/contact/feedback">Authorization</a> - View Feedback page signed in as Admin (User: admin Password: admin)</li>
                <li><a href="/users/register">Sessions</a> - Register an account and login to start a personal session</li>
              </ol>
              <p class="text-warning">* Found on all pages</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="card text-white bg-dark" id="contentmap">
            <div class="card-header text-info font-weight-bold">
              Content Map
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Content Map" src="/img/content_map.png" class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card text-info bg-dark" id="wireframe1">
            <div class="card-header font-weight-bold">
              Wireframe - Home Page
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Wireframe Home Page" src="/img/1-Home.png" class="img-thumbnail">
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card text-info bg-dark" id="wireframe2">
              <div class="card-header font-weight-bold">
                Wireframe - Work Page
              </div>        
              <div class="card-body text-light text-center">
                <img alt="Wireframe Work Page" src="/img/2-Work.png" class="img-thumbnail">
              </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card text-info bg-dark" id="wireframe3">
            <div class="card-header font-weight-bold">
              Wireframe - About Page
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Wireframe About Page" src="/img/3-About.png" class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card text-info bg-dark" id="wireframe4">
            <div class="card-header font-weight-bold">
              Wireframe - Contact Page
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Wireframe Contact Page" src="/img/4-Contact.png" class="img-thumbnail">
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card text-info bg-dark" id="wireframe5">
            <div class="card-header font-weight-bold">
              Wireframe - Login Page
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Wireframe Login Page" src="/img/5-Login.png" class="img-thumbnail">
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card text-info bg-dark" id="wireframe6">
            <div class="card-header font-weight-bold">
              Wireframe - Register Page
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Wireframe Register Page" src="/img/6-Register.png" class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 mb-5">
          <div class="card text-info bg-dark" id="wireframe7">
            <div class="card-header font-weight-bold">
              Wireframe - Feedback Page
            </div>        
            <div class="card-body text-light text-center">
              <img alt="Wireframe Feedback Page" src="/img/7-Feedback.png" class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-100">
        <div class="col-md-12">
          <div class="card text-info bg-dark" id="credits">
            <div class="card-header font-weight-bold">
              Credits
            </div>        
            <div class="card-body text-light card-columns">
                <ol>
                  <li>Used Bootstrap for framework and styling - <a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/">getbootstrap.com</a></li>
                  <li>Mockingbird was used for Wireframing - <a href="https://gomockingbird.com/projects/gachmlw">gomockingbird.com</a></li>
                  <li>Miro used for Content Map diagramming - <a href="https://miro.com/app/dashboard/">miro.com</a></li>
                  <li>LayoutIt! Bootstrap Builder used to generate grid layouts - <a href="https://www.layoutit.com/build">layoutit.com</a></li>
                  <li>MongoDB used for database storage/hosting - <a href="https://account.mongodb.com/account/login">account.mongodb.com</a></li>
                  <li>Majority of HTML, CSS, and JS for the MTG Life Counter was sourced from Xand0r's Codepen project - <a href="https://codepen.io/Xand0r/pen/lLIyJ">codepen.io/Xand0r</a></li>
                  <li>Canvas images are Art Series Strixhaven Magic The Gathering card images sourced from Magic Wizards Official site - <a href=https://magic.wizards.com/en/articles/archive/card-image-gallery/strixhaven-school-mages-art-cards-2021-04-15">magic.wizards.com</a></li>
                  <li>Icons/sprites and fonts are sourced from Google Fonts Material Icons - <a href="https://fonts.google.com/icons?selected=Material+Icons+Outlined">fonts.google.com</a></li>
                  <li>SVG element sourced from Bootstrap Icons - <a href="https://icons.getbootstrap.com/icons/magic/">icons.getbootstrap.com/icons/magic/</a></li>
                  <li>Magic the Gathering landscapes sourced from Rob Alexander's work - <a href="https://www.robalexander.com/index.php/mtg-art/">robalexander.com</a></li>
                  <li>Table that generates dynamically based on JSON data sourced from Bootstrap-Table - <a href="https://bootstrap-table.com/">bootstrap-table.com</a></li>
                  <li>How to Draft video sourced from Magic Wizards Official site - <a href="https://magic.wizards.com/en/game-info/gameplay/formats/booster-draft">magic.wizards.com</a></li>
                  <li>Home theme music sourced from Magic: The Gathering on Soundcloud - <a href="https://soundcloud.com/magicthegathering">soundcloud.com</a> </li>
                  <li>Audio clip on Work page is the song "MTG Arena Soundtrack - Kaldheim" sourced from YouTube - <a href="https://www.youtube.com/watch?v=TjzzO_Gi58g">youtube.com/watch?v=TjzzO_Gi58g</a> </li>
                  <li>Favicon sourced from VideoLAN - <a href="https://addons.videolan.org/p/1108370/">addons.videolan.org</a></li>
                </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

   <!-- Footer -->
   <%- include('partials/footer'); %>

  </body>
</html>
