<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
	  <%- include('partials/head'); %>
  </head>

  <body class="bg-secondary container-fluid">
    <header class="content-wrapper">
      <%- include('partials/nav'); %>
    </header>

    <div class="container-fluid">
      <h1 class="mb-3 font-weight-bold mt-5">About</h1>
      <div class="row">
        <div class="col-md-2 mb-5">
          <div class="card text-light bg-dark">
            <div class="card-header font-weight-bold">
              Author
            </div>        
            <img class="card-img-top" src="/img/portrait_winter_2020.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Riley Martinez</p>
            </div>
          </div>
        </div>
        <div class="col-md-10 mb-5">
          <div class="card text-white bg-dark">
            <div class="card-header font-weight-bold">
              Introduction
            </div>        
            <div class="card-body text-light">
              <h5 class="card-title">Welcome to the "About" page for my SEIS 751 Final Project!</h5>
              <p class="card-text">Below you will find a project walkthrough highlighting key concepts throughout the web app, as well as 
                the Content Map and Wireframe development artifacts, which aided in the website design/development process.
                Credits are at the bottom of the page.
              </p>
              <p class="card-text">The main feature of the app is the Work page, where you'll find a Magic the Gathering life counter
                to use when dueling your friends. Register on the app and you can keep track of your personal win/loss record!
              </p>
              <a href="/Work" class="btn btn-primary">Check it out</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card text-white bg-dark" id="walkthrough">
            <div class="card-header font-weight-bold">
              Walkthrough
            </div>        
            <div class="card-body text-light card-columns column-count-2">
              <ol>
                <li><a href="#walkthrough">Walkthrough</a></li>
                <li><a href="#contentmap">Content Map</a></li>
                <li><a href="#wireframe">Wireframe</a></li>
                <li><a href="#credits">Credits</a></li>
                <li>Header Navigation Top Level Sections: Home, About, Work, & Contact*</li>
                <li>Favicon*</li>
                <li>CSS Icons or Sprites*</li>
                <li>SVG Element - Magic wand next to web page title*</li>
                <li><a href="/#videoelement">Video Element</a></li>
                <li><a href="/work#audioelement">Audio Element</a></li>
                <li><a href="/">Carousel</a></li>
                <li>Web Font*</li>
                <li><a href="/users/login#canvaselement">Canvas Element</a> - Card next to form on Login/Register pages</li>
                <li><a href="/users/register">HTML5 Form Input Validation</a> - Login/Register/Contact pages</li>
                <li><a href="/contact">JSON Data Interchange</a> - Feedback written to feedbackData.json on submit</li>
                <li>Footer Navigation*</li>
                <li><a href="/work">Server-side Persistent Storage</a> - User session data and personal win/loss record (must sign in)</li>
                <li><a href="/users/login">Authentication</a> - Login/Register pages</li>
                <li><a href="/contact/feedback">Authorization</a> - View Feedback page signed in as Admin (User: admin Password: admin)</li>
                <li><a href="/users/register">Sessions</a> - Register an account and login to start a personal session</li>
              </ol>
              <p>* Found on all pages</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>

   <!-- Footer -->
   <%- include('partials/footer'); %>

  </body>
</html>
