<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <%- include('partials/head'); %>
</head>

<body class="container-fluid bg-secondary">
    <div class="container">
        <header class="content-wrapper">
            <%- include('partials/nav'); %>
        </header>
        <p><br></p>
        <div class="d-flex justify-content-between">
            <div class="float-left">
                <canvas id="myCanvas" width="578" height="400"></canvas>
            </div>
            <div>
                <form action="#" method="POST" class="needs-validation" novalidate>
                    <span class="material-icons red md-96">whatshot</span>
                    <h1 class="mb-3 font-weight-bold">Welcome wizard, please sign in</h1>
                    <div class="mb-3">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                            required autofocus>
                        <div class="valid-feedback">
                            Valid Username
                        </div>
                        <div class="invalid-feedback">
                            Invalid Username
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                            required>
                        <div class="valid-feedback">
                            Valid Password
                        </div>
                        <div class="invalid-feedback">
                            Invalid Password
                        </div>
                    </div>
                    <button class="btn btn-lg btn-dark btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
        <div class="container-fluid fixed-bottom mb-90 px-0">
            <div class="row">
                <img class="w-100 img-fluid" src="/img/carousel_3.png">
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer'); %>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>

    <script>
        var canvas = document.getElementById('myCanvas');
        var context = canvas.getContext('2d');
        var imageObj = new Image();

        imageObj.onload = function () {
            context.drawImage(imageObj, 69, 50);
        };
        imageObj.src = '/img/plargg_dean_of_chaos_art_card.png';
    </script>
</body>

</html>