<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <%- include('partials/head'); %>
</head>

<body>
    <div class="container">
        <header class="content-wrapper">
            <%- include('partials/nav'); %>
        </header>
        <p><br></p>
        <form action="/users/login" method="POST" class="form-signin validated-form" novalidate>
            <span class="material-icons red mb-4 md-96">whatshot</span>
            <span class="material-icons blue md-96">water</span>
            <span class="material-icons green md-96">park</span>
            <span class="material-icons orange md-96">light_mode</span>
            <span class="material-icons md-96">masks</span>
            <h1 class="h3 mb-3 font-weight-normal">Welcome wizard, please sign in</h1>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
    <footer>
        <%- include('partials/footer'); %>
    </footer>
</body>

</html>