<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <%- include('partials/head'); %>
</head>

<body class="container-fluid bg-secondary">
    <div class="container">
        <header>
            <%- include('partials/nav'); %>
        </header>
        <p><br></p>
        <div class="d-flex justify-content-between">
            <div class="float-left">
                <canvas id="myCanvas" width="578" height="400"></canvas>
            </div>
            <div>
                <form action="/users/register" method="POST" class="needs-validation" novalidate>
                    <span class="material-icons blue md-96">water</span>
                    <h1 class="mb-3 text-warning font-weight-bold">Begin your journey wizard, register below</h1>
                    <div class="mb-3">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" id="username" class="form-control" name="username" placeholder="Username"
                            required autofocus>
                        <div class="valid-feedback">
                            Valid Username
                        </div>
                        <div class="invalid-feedback">
                            Invalid Username
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required
                            autofocus>
                        <div class="valid-feedback">
                            Valid Email
                        </div>
                        <div class="invalid-feedback">
                            Invalid Email
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                            required>
                        <div class="valid-feedback">
                            Valid Password
                        </div>
                        <div class="invalid-feedback">
                            Invalid Password
                        </div>
                    </div>
                    <button class="btn btn-lg btn-dark btn-block mb-5" type="submit">Register</button>
                </form>
            </div>
        </div>

    </div>
    <div class="container-fluid px-0 mb-90">
        <div class="row">
            <img class="w-100 img-fluid" src="/img/carousel_1.png">
        </div>
    </div>

    <%- include('partials/footer'); %>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>

    <script>
        var canvas = document.getElementById('myCanvas');
        var context = canvas.getContext('2d');
        var imageObj = new Image();

        imageObj.onload = function () {
            context.drawImage(imageObj, 69, 50);
        };
        imageObj.src = '/img/imbraham_dean_of_theory_art_card.png';
    </script>
</body>

</html>